/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "yeti";


body {
  padding-bottom: 125px;
  background-color: #e9ece5;
}

a {
  color: #cb7575;  
}

.navbar-default a {
    color: #e9ece5;
}

.navbar-default .navbar-brand {
   color: #a3c9c7;
   font-family: 'Lobster Two', cursive;
   font-weight: bold;
   font-size: 26px;
}

.jumbotron {
    background-color: #a3c9c7;
}

.btn-default {
    background-color: #ef9e9f;
    border-color: #cb7575;
}


