<footer class="footer-distributed navbar-fixed-bottom">

	<div class="footer-right">

		<a href="https://www.facebook.com/Sandra.E.Hogan"><i class="fa fa-facebook"></i></a>
		<a href="https://twitter.com/SandyVern"><i class="fa fa-twitter"></i></a>
		<a href="https://www.linkedin.com/in/sandraehogan"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/sandyvern"><i class="fa fa-github"></i></a>

	</div>

	<div class="footer-left">
		<p class="footer-links">
			·
			<%= link_to "Contact Us", pages_contact_path, class: "page-scroll" %>	
			·
			<%= link_to "About Us", pages_about_path, class: "page-scroll" %>	
			·
		</p>

	<p>   </p>
	</div>

</footer>


		
